<div id="paper">
  <div id="pattern">
    <div class="row">
      <!-- desenho da forca -->
      <app-draw [lives]="lives"></app-draw>

      <!-- palavra correta sendo acertada -->
      <span class="letter" *ngFor="let letter of letters">
        {{ this.rightLetters.includes(letter) ? letter : "" }}
      </span>
    </div>
    <div class="row">
      <!-- lista de letras erradas -->
      <span
        class="letter letter--wrong"
        *ngFor="let wrongLetter of wrongLetters"
        >{{ wrongLetter }}</span
      >
    </div>
  </div>
</div>

<!-- game over message  -->
<div class="end" *ngIf="isGameOver">
  {{ isWin ? "You Win!" : "You Lose" }}
</div>
